* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(#D66D75,#ee9ca7);
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.1);
}

/* Header */
#brandLogo{
  font-size: 2.5em;
}

#brandLogo img{
  width: 1.5em;
  height: 1.5em;
}

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #fff !important;
  transition: .3s;
}

.nav-link{
  transition: .3s;
  border-bottom: 2px transparent solid;
}

.nav-link:hover{
  border-bottom: 2px solid #fff;
}

/* Main Container */
#mainContainer img{
  width: 100%;
  height: auto;
  margin: 2rem 0px;
}

#aboutDesc{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.homeDesc{
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0px;
  font-size: 2rem;
  letter-spacing: .5rem;
}

/* Copyright */
#copyright {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5rem;
}

/* Media Queries */
  /* iPad */
  @media only screen and (min-device-width: 768px){
    #mainContainer img{
      width: 100%;
      height: auto;
      margin: 2rem 0px;
    }
  
    .homeDesc{
      text-align: center;
      text-transform: uppercase;
      padding: 2rem;
      font-size: 3rem;
      letter-spacing: .5rem;
    }
  
    #aboutDesc{
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  
    #copyright {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      margin-top: 5rem;
    }
  }

  /* Laptops */
  @media only screen and (min-device-width: 1200px){
    #mainContainer img{
      width: 100%;
      height: auto;
      max-height: 500px;
      margin: 4rem 0px;
    }
  }
  
  /* Desktop Monitors */
  @media only screen and (min-device-width: 1920px){
    #mainContainer img{
      width: 100%;
      height: auto;
      max-height: 500px;
      margin: 4rem 0px;
    }

    #aboutDesc{
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
