body{
  font-family: 'Handlee', cursive;
  background-color: #fff7f8;
  color: #b666d3;
  /* Navy - 001f3f */
}

/* Header */
#brandLogo{
  font-size: 3.5rem;
  }

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #b666d3 !important;
}

/* Main Body Container */
#mainContainer{
    width: 100%;
    height: 400px;
    margin: 3rem 0px;
}

/* Container */
.cakeImg{
  width: 100%;
  height: 350px;
}

.homeDesc{
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 3rem;
  letter-spacing: .5rem;
}

/* Copyright Footer */
#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Media Queries */
/* iPad */
@media only screen and (min-device-width: 768px){
  #mainContainer{
      width: 100%;
      height: 400px;
      margin: 2rem 0px;
  }
}


/* Laptops */
@media only screen and (min-device-width: 1200px){
  #copyright {
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 7rem;
  }
}

/* Desktop Monitors */
@media only screen and (min-device-width: 1920px){

}
