body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(#D66D75,#ee9ca7);
  color: #fff;
  font-weight: 800;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.1);
}

/* Header */
#brandLogo{
  font-size: 3.5rem;
  }

#brandLogo img{
  width: 1.5em;
  height: 1.5em;
}

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #fff !important;
}

.nav-link{
  transition: .3s;
  border-bottom: 2px transparent solid;
}

.nav-link:hover{
  border-bottom: 2px solid #fff;
}

/* Main Body Container */
#mainContainer{
    width: 100%;
    height: auto;
    margin: 3rem 0px;
}

/* Container */
.cakeImg{
  width: 100%;
  height: 350px;
}

.homeDesc{
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 3rem;
  letter-spacing: .5rem;
}

/* Copyright Footer */
#copyright {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Media Queries */
/* iPad */
@media only screen and (min-device-width: 768px){
  #mainContainer{
      width: 100%;
      height: auto;
      max-height: 28em;
      margin: 2rem 0px;
  }
}


/* Laptops */
@media only screen and (min-device-width: 1200px){
  #copyright {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5em;
  }
}

/* Desktop Monitors */
