body{
  font-family: 'Handlee', cursive;
  background-color: #fff7f8;
  color: #b666d3;
  /* Navy - 001f3f */
}

/* Header */
#brandLogo{
  font-size: 3.5rem;
  }

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #b666d3 !important;
  transition: .3s;
}

/* Main Body */
.homeDesc {
  text-align: center;
  text-transform: uppercase;
  padding: 5rem;
  font-size: 4rem;
  letter-spacing: .5rem;
}

#mainContainer img{
    width: 100%;
    height: 700px;
}

#mainContainer button {
  margin-top: 6rem;
  padding: 2rem 5rem;
  font-size: 2rem;
}

#menuBtn{
  color: #b666d3;
  border-color: #b666d3;
  transition: .3s;
}

#menuBtn:hover{
  color: #fff;
  background-color: #b666d3;
  border-color: #b666d3;
  transform: scale(1.1);
}

/* Location and Hours */
.store{
  margin: 5rem 0px;
}

.storeHours, .location {
  font-size: 2.5rem;
  text-align: center;
}

.location {
  font-weight: bold;
}


/* Copyright */
#copyright {
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 15rem;
}


/* Media Queries */
/* iPad */
@media only screen and (min-device-width: 768px){
  #mainContainer img{
      width: 100%;
      height: 750px;
  }
  /* Location and Hours */
  .storeHours, .location {
    font-size: 2.5rem;
    text-align: center;
  }
}


/* Laptops */
@media only screen and (min-device-width: 1200px){
  #mainContainer img{
      width: 100%;
      height: 600px;
  }

  /* Footer */
  #copyright {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-top: 10rem;
  }
}

/* Desktop Monitors */
@media only screen and (min-device-width: 1920px){

}
