body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(#D66D75,#ee9ca7);
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.1);
}

/* Header */
#brandLogo{
  font-size: 2.5em;
}

#brandLogo img{
  width: 1.5em;
  height: 1.5em;
}

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #fff !important;
  transition: .3s;
}

.nav-link{
  transition: .3s;
  border-bottom: 2px transparent solid;
}

.nav-link:hover{
  border-bottom: 2px solid #fff;
}

/* Main Body */
.homeDesc {
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 0px;
  font-size: 1.4rem;
  letter-spacing: .5rem;
}

#mainContainer img{
    width: 100%;
    height: auto;
}

#mainContainer button {
  margin-top: 4rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

#menuBtn{
  color: #FFF;
  border-color: #DD5E89;
  background-color: #DD5E89;
  transition: .3s;
}

#menuBtn:hover{
  transform: scale(1.05);
}

/* Location and Hours */
.store{
  margin: 2rem 0px;
}

.storeHours, .location {
  font-size: 1.2rem;
  text-align: center;
}

.location {
  font-weight: bold;
}


/* Copyright */
#copyright {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10rem;
}

/* Media Queries */
/* iPad */
@media only screen and (min-device-width: 768px){
  /*Nav */
  #brandLogo img{
    width: 2em;
    height: 2em;
  }

  #mainContainer img{
      width: 100%;
      height: auto;
  }
  /* Location and Hours */
  .storeHours, .location {
    font-size: 1.5rem;
    text-align: center;
  }
}


/* Laptops */
@media only screen and (min-device-width: 1200px){
  #mainContainer img{
      width: 100%;
      height: auto;
      max-height: 500px;
  }

  .homeDesc {
    text-align: center;
    text-transform: uppercase;
    padding: 5rem 0px;
    font-size: 3em;
    letter-spacing: .5rem;
  }

  /* Footer */
  #copyright {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-top: 10rem;
  }
}

/* Desktop Monitors */
@media only screen and (min-device-width: 1920px){
  #copyright {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10rem;
  }
}
