body{
  font-family: 'Concert One', cursive;
  background-image: linear-gradient(#ffdde1,#ee9ca7);
  color: #fff;
  font-weight: 800;
  text-shadow: 1px 2px 0px rgba(0,0,0,0.1);
}

/* Header */
#brandLogo{
  font-size: 3.5rem;
  }

#brandLogo img{
  width: 1.5em;
  height: 1.5em;
}

#navbarNav a{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a{
  color: #fff !important;
}

.nav-link{
  transition: .3s;
  border-bottom: 2px transparent;
}

.nav-link:hover{
  border-bottom: 2px solid #fff;
}

/* Main Body Container */
#mainContainer{
    width: 100%;
    height: 400px;
    margin: 5rem 0px;
}

/* Menu Container */
.menuContainer{
  margin: 4rem 0px;
}

.menuIngredients{
  font-size: 1.4em;
}

.menuName{
  font-size: 2.5em;
}

.menuDescription{
  font-size: 1.3em;
}

/* Cake Container */
.homeDesc{
  text-align: center;
  text-transform: uppercase;
  padding: 3rem;
  font-size: 2.5rem;
  letter-spacing: .5rem;
}
.cakeImg{
  width: 100%;
  height: 350px;
}

#menuBtn{
  margin-top: 2rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  color: #FFF;
  border-color: #DD5E89;
  background-color: #DD5E89;
  transition: .3s;
}

#menuBtn:hover{
  color: #fff;
  background-color: #DD5E89;
  border-color: #DD5E89;
  transform: scale(1.05);
}


hr{
  margin: 5rem 0px;
}

/* Allergy */
#allergy {
  text-align: center;
}

#allergy h1 {
  margin-bottom: 2rem;
  font-size: 2.0rem;
}

#allergy p {
  font-size: 1.3rem;
}

/* Copyright */
#copyright {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10rem;
}

/* Media Queries */
/* iPad */
@media only screen and (min-device-width: 768px){

}


/* Laptops */
@media only screen and (min-device-width: 1200px){
  .cakeImg{
    width: 100%;
    height: 450px;
  }

  #allergy{
    width: 70%;
    margin: auto;
  }

  /* Menu Container */
  .menuContainer{
    margin: 5rem 0px;
  }
}

/* Desktop Monitors */
@media only screen and (min-device-width: 1920px){
  #allergy{
    width: 70%;
    margin: auto;
  }

  /* Menu Container */
  .menuContainer{
    margin: 5rem 0px;
  }
}
